// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../bootstrap/scss/bootstrap";

// Then add additional custom code here
/*Maps*/
$redes:(wsp:green, face:#3a5795, insta: magenta);

@each $clave, $valor in $redes {
    .btn-#{$clave} {
        background-color: $valor;
    }    
}

/*Map-get*/
$letrablanca:(
    color:white,
    centro:center,
);
.letrablancacenter{
    color:map-get($letrablanca, color);
    text-align: map-get($letrablanca, centro);
}

/*exten*/
.colorletra1{
    color: white;
    background-color: #3a5795;
    border: 2px solid black;
    border-radius: 25px;
}
.colorletra2{
    @extend .colorletra1;
    background-color: blueviolet;
}
/*Mixin*/
@mixin size ($ancho, $alto){
    width: $ancho;
    height: $alto;
}
.poseidonsub{
    @extend .colorletra1;
    @include size(500px,84px )
}
.calipsosub{
    @extend .colorletra2;
    @include size(500px,84px )
}
.poseidonnav{
    @extend .colorletra1;
    @include size(150px,40px )
}
.calipsonav{
    @extend .colorletra2;
    @include size(150px,40px)
}


a {
    &:hover{
        background-color: gray;
    }
    &:active{
        background-color: aqua;
    }

}
.margen{
    margin-left: 5px;
    :hover{
        background-color: #3a5795;
    }
    :active{
        background-color: gray;
    }
}

.barranav{
    display: flex;
    position: sticky;
    top: 5px;
}